<div class="-m-6 flex max-h-[calc(100vh-128px)] flex-auto flex-col">
    <!-- Header -->
    <div
        class="flex h-16 flex-0 items-center justify-between bg-primary pl-6 pr-3 text-on-primary sm:pl-8 sm:pr-5"
    >
        <div class="text-lg font-medium">Members</div>
        <button mat-icon-button (click)="matDialogRef.close()" [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x-mark'"
            ></mat-icon>
        </button>
    </div>
    <div class="font-poppins overflow-y-scroll p-8 dark:bg-gray-800">
        asdasd
    </div>
</div>
